#fretShapesLogo {
  position: absolute;
  cursor: pointer;
  float: left;
  padding-left:5px;
  width: 180px;
  margin: 0;
  top: -3px;
}

.socialIcons {
  position: absolute;
  display: inline-block;

  opacity: .6;

}
.socialIcons:hover {
  opacity: 1;
  cursor: pointer;
}
#social {
  position: relative;
  display: inline-block;
  top: 768px;
  left: 600px;
  z-index: 1000;
}
#messageIcon {
  top: -2px;
  left: 142px;
  height: 18px;
  width: 18px;
}
#messageIcon:hover {
  opacity: 1;
  cursor: pointer;
}
#twitterIcon {
  top: -2px;
  left: 175px;
  height: 18px;
  width: 18px;
}
#facebookIcon {
  top: -1px;
  left: 206px;
  height: 15px;
  width: 15px;
}
#githubIcon {
  top: -2px;
  left: 235px;
  height: 17px;
  width: 17px;
}
#copyrightText {
  width: 150px;
}
#keyboardHeader {
 position: absolute;
 top: 90px;
 font-size: .9em;
 width: 100%;
 text-align: center;
 opacity: .7;
}

#fadeFromBlackDiv {
	position: absolute;
	display: inline-block;
	width: 900px;
	top: 300px;
  left: -7px;
	height: 550px;
	background: black;
	opacity: 1;
	z-index: 1008;
	visibility: visible;
}

#startScreenButtonHolder {
	position: absolute;
	display: inline-flex;
	margin: auto;
	top: 191px;
	left: 283px;
	width: 35.9%;
	height: 92px;
}

#startButton {
	position: relative;
	float: left;
	height: 44px;
	width: 170px;
	border-radius: 5px;
	margin: 10px 18px 10px 10px;
	padding: 0;
	font-size: 1.3em;
	font-weight: 300;
	padding-bottom: 3px;
	color: black;
	background-color: rgba(9,81,201,1);
	cursor: pointer;
}

#whatIsButton {
	position: relative;
	height: 44px;
	width: 300px;
	border-radius: 5px;
	margin-left: 5px;
	font-size: .8em;
	padding-bottom: 3px;
	font-weight: bold;
	cursor: pointer;
}

#rainbowUnderline {
	position: relative;
	display: block;
	margin: auto;
	height: 1px;
	width: 296px;
	background: linear-gradient(to right, #0a4fc4, #0a4fc4, #687d66, #9c6704, #9d1a1a, #5c2872, #0a4fc4);
	z-index: 1007;
	top: 57px;
}

#welcomeSubText {
	position: relative;
	text-align: center;
	color: rgba(9,81,201,.9);
	z-index: 1006;
	top: 57px;
	font-weight: 100;
	font-size: 1.27em;
}

#welcomeTitle {
	position: relative;
	text-align: center;
  vertical-align: middle;
	font-size: 3.8em;
	font-weight: bold;
	top:55px;
	z-index: 1005;
	color: rgb(9,81,201);
}
#infoButtonBlocker {
	position: absolute;
	display: block;
	width:180px;
	height: 35px;
	top:358px;
	background: black;
	margin-left: 12px;
	z-index: 1004;
}

#welcomeScreen {
	position: relative;
  display: block;
  width: 881px;
  height: 340px;
  background: black;
  margin-left: 3px;
  top: 377px;
  z-index: 1003;
  background: black;
	visibility: visible;
	opacity: 1;
}
img {
	position: absolute;
  top: 139px;
  left: 1px;
  width:880px;
  height:210px;
}
/*blue text*/
#text1 {
  position: absolute;
  font-weight: bold;
  top: 50px;
  left: 449px;
  font-size: .84em;
  visibility: hidden;
}
/*tan text*/
#text2 {
  position: absolute;
  font-weight: bold;
  top: 43px;
  left: 449px;
  font-size: .787em;
  color: #687d66;
  visibility: hidden;
}
/*orange text*/
#text3 {
  position: absolute;
  font-weight: bold;
  top: 50px;
  left: 449px;
  font-size: .791em;
  color: #9c6704;
  visibility: hidden;
}
/*red text*/
#text4 {
  position: absolute;
  font-weight: bold;
  top: 50px;
  left: 449px;
  font-size: .805em;
  color: #9d1a1a;
  visibility: hidden;
}
/*purple text*/
#text5 {
  position: absolute;
  font-weight: bold;
  top: 43px;
  left: 449px;
  font-size: .79em;
  color: #5c2872;
  visibility: hidden;
}
#infoPageIntroText {
  position: absolute;
  top: 35px;
  left: 25px;
  font-size: .96em;
}
#thickText {
  font-weight: bold;
}
#overlay1 {
  visibility: hidden;
}
#overlay2 {
  visibility: hidden;
}
#overlay3 {
  visibility: hidden;
}
#overlay4 {
  visibility: hidden;
}
#overlay5 {
  visibility: hidden;
}
#blueDiv1 {
  position: absolute;
  top: 181px;
  left: 49px;
  width: 195px;
  height: 24px;
  cursor: pointer;
}
#blueDiv2 {
  position: absolute;
  top: 204px;
  left: 60px;
  width: 318px;
  height: 25px;
  cursor: pointer;
}
#blueDiv3 {
  position: absolute;
  top: 228px;
  left: 66px;
  width: 269px;
  height: 25px;
  cursor: pointer;
}
#blueDiv4 {
  position: absolute;
  top: 252px;
  left: 78px;
  width: 245px;
  height: 24px;
  cursor: pointer;
}
#tanDiv {
  position: absolute;
  top: 181px;
  left: 244px;
  width: 49px;
  height: 23px;
  cursor: pointer;
}
#orangeDiv {
  position: absolute;
  top: 181px;
  left: 293px;
  width: 49px;
  height: 23px;
  cursor: pointer;
}
#redDiv1 {
  position: absolute;
  top: 276px;
  left: 330px;
  width: 24px;
  height: 14px;
  cursor: pointer;
}
#redDiv2 {
  position: absolute;
  top: 289px;
  left: 306px;
  width: 72px;
  height: 14px;
  cursor: pointer;
}
#purpleDiv {
  position: absolute;
  top: 276px;
  left: 127px;
  width: 123px;
  height: 27px;
  cursor: pointer;
}
#infoTextContainer {
  position: absolute;
  width: 432px;
  height: 115px;
  top: 14px;
  right: 23px;
  background-color: red;
  border-radius: 3px;
  border: 1px solid rgb(9,81,201);
  background-color: black;
  opacity: .5;
}
#lineDivider {
	position: absolute;
  top: -10px;
  left: 401px;
  height: 372px;
  width: 1px;
  opacity: 1;
}
#introInfoButton {
  position: absolute;
  align: left;
  font-weight: 100;
  margin-left: -347px;
  top: 392px;
  z-index: 0;
  font-size: .8em;
  cursor: pointer;
	visibility: visible;
}
#appButton {
  position: relative;
  height: 40px;
  font-weight: 100;
	margin-top: 2px;
  margin-left: -312px;
  top: -352px;
  z-index: 0;
  font-size: 1em;
  cursor: pointer;
	visibility: hidden;
}
#startArrow {
	position: absolute;
	display: block;
	top: 0px;
  margin-top: -4px;
	margin-left: -25px;
	font-size: 1.2em;
}
#fretShapesButton {
  position: absolute;
  width: 145px;
  font-size: 1em;
  top: 356px;
  left: 367px;
  opacity: .7;
}
#fretShapesButton:hover {
  opacity: 1;
}

#arrow {
  position: relative;
  align: left;
  top: .1em;
  font-size: 1.5em;
}
#infoDiv {
  position: relative;
  display: none;
  width: 882px;
  height: 350px;
  background: black;
  margin-left: 2px;
  top: 388px;
  z-index: 1001;
}
#copyright {
  position: absolute;
  justify-content: center;
  font-weight: 100;
  margin-left: 29px;
  top: 361px;
  font-size: .8em;
  pointer-events: none;
  opacity: .7;
  z-index: 1030;
}
.pointable {
  cursor: pointer;
  outline: none;
}
.unselectable {
  pointer-events: none;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari*/
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#pedal-tone-text {
  margin-top: 0px;
}
#pedal-tone-key {
  width: 140px;
  margin-left: -148px;
  margin-top: -2px;
  position: absolute;
  font-size: .8em;
}
#pedal-tone-key::first-letter {
  position: absolute;
  font-size: 17px;
}
#scalesDiv {
    margin-bottom: -18px;
    width: 152px;
    max-height:288px;
}
#keyDiv {
   margin-top: 50px;
   width: 58px;
   max-height:220px;
}
#spacerDiv {
  height: 168px;
}

.dropdownStyle {
  position: absolute;
  margin-top: -18px;
  margin-left: 3px;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: lighter;
  background: black;
  color: rgb(9,81,201);
  padding: 14px 0px 14px 0px;
  border: 2px solid rgb(9,81,201);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: .5;
  overflow:auto;
}
.dropdownStyle:hover {
    background: black;
    color: rgb(9,81,201);
    padding: 14px 0px 9px 0px;
    z-index: 1003;
}
.dropdownStyle > ul {
  display: none;
}
.dropdownStyle:hover > ul {
  text-align: left;
  margin-top: 14px;
  margin-bottom: -5px;
  display: block;
  padding: 9px 0px 0px 9px;
  font-weight: bold;
  font-size: .8em;
  border-top: 2px solid #042864;
  list-style-type: none;
  line-height: 1.5;
  background: black;
  color: rgb(9,81,201);
}
/*dropdown when open*/
.dropdownStyle:hover > ul > li {
  background: black;
  padding: 3px 0px 3px 7px;
}
/*dropdown when hovered upon*/
.dropdownStyle:hover > ul > li:hover {
  border-radius: 5px 0px 0px 5px;
  background: rgba(9,81,201,.7);
  color: black;
	cursor: pointer;
}

.dropdownStyle:hover > ul > li:hover > span {
  color:black;
}

.dropdownStyle:hover > ul > li:hover > p {
  color:black;
}

/*dropdown when active*/
.dropdownStyle:hover > ul > li:active {
  border-radius: 5px 0px 0px 5px;
  background: rgb(9,81,201);
  color: black;
}
/*target color*/
.dropdownStyle:hover > ul > li.target {
  border-radius: 5px 0px 0px 5px;
  background: rgb(9,81,201);
  color: black;
}
/*target color*/
.dropdownStyle:hover > ul > li.target > span {
  color:black;
}

.dropdownStyle:hover > ul > li.target > p {
  color:black;
}

:target {
  border-radius: 5px 0px 0px 5px;
  background: rgba(9,81,201,.7);
  color: black;
}

#scalesText {
  margin-left: 16px;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
}
.dropdownStyle #UlSpacer:hover {
  margin-bottom: 2px;
}

.scaNam {
  font-weight: 700;
  color: rgb(9,81,201);
}
.scaDeg {
  font-weight: 100;
  color: rgba(9,81,201, 0.7);
}
.scaDeg {
  font-weight: 100;
  color: rgba(9,81,201, 0.7);
}

.accidental {
  position: relative;
  font-size: .5em;
  margin-top: -15px;
}
.accidental2 {
  position: relative;
  font-size: .5em;
  margin-top: -15px;
  letter-spacing: -3.7px;
}
.headerAccidental {
  position: relative;
  font-size: 1em;
  margin-top: -15px;
  letter-spacing: -1px;
}
.headerAccidental2 {
  position: relative;
  font-size: 1em;
  margin-top: -15px;
  letter-spacing: -7px;
}
#keyDiv:hover #UlSpacer .headerKey {
  position: absolute;
  font-size: 1em;
  margin-top: -20px;
  margin-left: 8px;
}
#keyDiv .keyName {
  color: rgb(9,81,201);
}
#showScaleContainer {
  position: relative;
  margin-top: -10px;
  margin-bottom: 8px;
}
select {
  margin:10px;
  background: rgba(0,0,0,0.3);
  color: rgb(9,81,201);
  border: 2px solid rgb(9,81,201);
}
.styled-select select {
   padding: 2px 2px 2px 7px;
   font-size: 12px;
   border: 2;
   border-radius: 3;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   }

h1 {
    margin-top: 26px;
    margin-bottom: -4px;
    color: rgb(9,81,201);
    font-family: sans-serif;
}
p {
    color: rgb(9,81,201);
    font-weight: 100;
    font-family: sans-serif;
    margin-bottom: 3px;
    margin-top: 0px;
}

button {
  margin: 10px;
  background: rgba(0,0,0,0.3);
  color: rgb(9,81,201);
  border: 2px solid rgb(9,81,201);
  border-radius : 3px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

body {
  padding: 0;
  /*Adjust margin below for app height*/
  margin: 50px 2px 0px 0px;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: black;
}

#container {
  position: relative;
  margin-top: -360px;
  margin-left: auto;
  margin-right: auto;
  min-width: 882px;
}
canvas {
  border: 2px solid rgb(9,81,201);
  border-radius: 7px;
}

#main-container {
  position: relative;
  top: 25px;
  width: 882px;
  height: 380px;
  display: block;
}

#key-scale-display  {
  position: absolute;
  display: block;
  line-height: 90px;
  left:214px;
  top:231px;
}
.key-scale-display-text {
  font-weight: 400;
  font-size: 17px;
  position: relative;
}
#scale-display-outercontainer {
  position:absolute;
  display: block;
  width: 450px;
  align-content: center;
  pointer-events: none;
}
#scale-display-innercontainer {
  position:relative;
  display: block;
  margin: auto;
  width: 70%;
  text-align: center;
  pointer-events: none;
}
#display-gradient-mask-right {
  position: absolute;
  width: 240px;
  height: 90px;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
  margin-left: 380px;
  margin-top: 168px;
}
#display-gradient-mask-bottom {
  position: absolute;
  width: 200px;
  height: 90px;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  margin-left: 225px;
  margin-top: 157px;
}
#string-gradient-mask {
  position: absolute;
  width:63px;
  height: 150px;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  margin-left: 151px;
  margin-top:5px;
}
#guit-body-gradient-mask {
  position: absolute;
  width:223px;
  height: 80px;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0));
  margin-left: 634px;
  margin-top:187px;
  border-radius: 0px 0px 8px 0px;
}
#arrow-up {
  width: 0;
  height: 0;
  position: absolute;
  margin-left: 221px;
  margin-top: 0px;
  border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid rgb(9,81,201);
}

#arrow-down {
  width: 0;
  height: 0;
  position: absolute;
  margin-left: 221px;
  margin-top: 80px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid rgb(9,81,201);
}

#arrow-left {
  width: 0;
  height: 0;
  position: absolute;
  margin-left: 76px;
  margin-top: 38px;
  border-top: 7px solid transparent;
  border-right: 10px solid rgb(9,81,201);
  border-bottom: 7px solid transparent;
}

#arrow-right {
  width: 0;
  height: 0;
  position: absolute;
  margin-left: 370px;
  margin-top: 38px;
  border-top: 7px solid transparent;
	border-left: 10px solid rgb(9,81,201);
	border-bottom: 7px solid transparent;
}

#sideBarContainer {
  position: absolute;
  visibility: hidden;
  width: 860px;
  top:377px;
  padding: 26px 26px 0px 28px;
  z-index: 800;
}

.sideContainer {
  position: absolute;
  margin: 0px;
  padding: 3px;
}

#side-bar-top {
  margin-top: 35px;
}

.thinText {
  font-weight: 100;
}

.toggleButton {
  position: relative;
  float: right;
  margin-right: 34px;
  margin-top: -321px;
  font-size: 65%;
  background: rgba(0,0,0,0.3);
  color: rgb(9,81,201);
  border: 2px solid rgb(9,81,201);
  border-radius : 3px;
  white-space: pre;
}

#fret-button {
  background: rgb(9,81,201);
  margin-top: -331px;
  margin-right: 118px;
  color: black;
  width: 60px;
}
#string-button {
  background: rgb(9,81,201);
  margin-top: -331px;
  margin-right: 34px;
  color: black;
  width: 70px;
}

#fretButtonContainer {
  position: relative;
  float: right;
  width: 100%;
  height: 100%;
}

#float-here {
  position: absolute;
}

#pedal-tone {
  position: relative;
  text-align: right;
  z-index: 10;
  float: right;
  padding-top: 3px;
  margin: 0 31px 10px 10px;
}

#show-scale {
  margin-right: 0;
}

#show-shapes {
  margin-right: 0;
}

#stop-button {
  margin: 0;
}

#fretsBox {
  position: relative;
  color: rgb(9,81,201);
  margin-top: -185px;
}

.frets {
  font-weight: 100;
  font-size: 70%;
  opacity: .6;
}
#fret3 {
  position: absolute;
  margin-top: 0px;
  margin-left: 282px;
}
#fret5 {
  position: absolute;
  margin-top: 0px;
  margin-left: 332px;
}
#fret7 {
  position: absolute;
  margin-top: 0px;
  margin-left: 382px;
}
#fret9 {
  position: absolute;
  margin-top: 0px;
  margin-left: 432px;
}
#fret12 {
  position: absolute;
  margin-top: 0px;
  margin-left: 502px;
}
#fret15 {
  position: absolute;
  margin-top: 0px;
  margin-left: 577px;
}
#fret17 {
  position: absolute;
  margin-top: 0px;
  margin-left: 628px;
}
#fret19 {
  position: absolute;
  margin-top: 0px;
  margin-left: 677px;
}
#fret21 {
  position: absolute;
  margin-top: 0px;
  margin-left: 729px;
}
#fret24 {
  position: absolute;
  margin-top: 0px;
  margin-left: 803px;
}
#mobileMessage {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  background: red;
  z-index: 3000;
}
@media only screen and (min-device-width: 10px) {
  #mobileMessage {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
