#scalesDiv {
    margin-top: -18px;
    width: 152px;
    max-height:288px;
}
#keyDiv {
   margin-top: 50px;
   width: 58px;
   max-height:220px;
}
.dropdownStyle {
  position: absolute;
  margin-top: -18px;
  margin-left: 3px;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: lighter;
  background: black;
  color: rgb(9,81,201);
  padding: 14px 0px 14px 0px;
  border: 1px solid rgb(9,81,201);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  line-height: .5;
  overflow:auto;
}
.dropdownStyle:hover {
    background: black;
    color: rgb(9,81,201);
    padding: 14px 0px 9px 0px;
}
.dropdownStyle > ul {
  display: none;
}
.dropdownStyle:hover > ul {
  text-align: left;
  margin-top: 14px;
  margin-bottom: -5px;
  display: block;
  padding: 9px 0px 0px 9px;
  font-weight: bold;
  font-size: .8em;
  border-top: 1px solid #042864;
  list-style-type: none;
  line-height: 1.5;
  background: black;
  color: rgb(9,81,201);
}
.dropdownStyle:hover > ul > li {
  background: black;
  padding: 3px 0px 3px 7px;
}
.dropdownStyle:hover > ul > li:hover {
  border-radius: 5px 0px 0px 5px;
  background: rgb(9,81,201);
  color: black;
}
.dropdownStyle:hover > ul > li:hover > span {
  color:black;
}
#scalesText {
  margin-left: 16px;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
}
.dropdownStyle #UlSpacer:hover {
  margin-bottom: 2px;
}
.scaNam {
  font-weight: 700;
  color: rgb(9,81,201);
}
.scaDeg {
  font-weight: 100;
  color: rgba(9,81,201, 0.7);
}
.scaDeg {
  font-weight: 100;
  color: rgba(9,81,201, 0.7);
}

.accidental {
  position: relative;
  font-size: .5em;
  margin-top: -15px;
}
.accidental2 {
  position: relative;
  font-size: .5em;
  margin-top: -15px;
  letter-spacing: -3.7px;
}
.headerAccidental {
  position: relative;
  font-size: 1em;
  margin-top: -15px;
  letter-spacing: -1px;
}
.headerAccidental2 {
  position: relative;
  font-size: 1em;
  margin-top: -15px;
  letter-spacing: -7px;
}
#keyDiv:hover #UlSpacer .headerKey {
  position: absolute;
  font-size: 1em;
  margin-top: -20px;
  margin-left: 7px;
}
#keyDiv .keyName {
  color: rgb(9,81,201);
}
.keyNam:hover .headerKey {
  color: black;
}
select {
  margin:10px;
  background: rgba(0,0,0,0.3);
  color: rgb(9,81,201);
  border: 1px solid rgb(9,81,201);
}

.styled-select select {
   padding: 2px 2px 2px 7px;
   font-size: 12px;
   border: 1;
   border-radius: 3;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   }

h1 {
    margin-top: 26px;
    margin-bottom: -4px;
    color: rgb(9,81,201);
    font-family: sans-serif;
}
p {
    color: rgb(9,81,201);
    font-weight: 100;
    font-family: sans-serif;
    margin-bottom: 3px;
    margin-top: 0px;
}

button {
  margin: 10px;
  background: rgba(0,0,0,0.3);
  color: rgb(9,81,201);
  border: 1px solid rgb(9,81,201);
  border-radius : 3px;
  white-space: pre;
}

body {
  padding: 0;
  margin-top:40px;
  display: flex;
  justify-content: center;
  background: black;
}

#main-container {
  position: relative;
}

canvas {
  border: 1px solid rgb(9,81,201);
  border-radius: 7px;
}

#key-scale-display  {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  width: 50%;
  margin-left: 188px;
  margin-top: 151px;
}

.key-scale-display-text {
  font-weight: 400;
  font-size: 17px;
}

#display-text {
  position: absolute;
  margin-left: 150;
}

#display-gradient-mask-right {
  position: absolute;
  width: 240px;
  height: 60px;
  background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
  margin-left: 450px;
  margin-top: 170px;
}

#display-gradient-mask-bottom {
  position: absolute;
  width: 200px;
  height: 70px;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  margin-left: 200px;
  margin-top: 157px;
}

#string-gradient-mask {
  position: absolute;
  width:55px;
  height: 110px;
  background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
  margin-left: 153px;
  margin-top:15px;
}
#arrow-up {
  width: 0;
  height: 0;
  position: absolute;
  margin-left: 221px;
  margin-top: 0px;
  border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 10px solid rgb(9,81,201);
}

#arrow-down {
  width: 0;
  height: 0;
  position: absolute;
  margin-left: 221px;
  margin-top: 80px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 10px solid rgb(9,81,201);
}

#arrow-left {
  width: 0;
  height: 0;
  position: absolute;
  margin-left: 76px;
  margin-top: 38px;
  border-top: 7px solid transparent;
  border-right: 10px solid rgb(9,81,201);
  border-bottom: 7px solid transparent;
}

#arrow-right {
  width: 0;
  height: 0;
  position: absolute;
  margin-left: 370px;
  margin-top: 38px;
  border-top: 7px solid transparent;
	border-left: 10px solid rgb(9,81,201);
	border-bottom: 7px solid transparent;
}

.sideBarContainer {
  position: absolute;
  width: 860px;
  margin-top: -29px;
  padding: 26px;
}

.sideContainer {
  margin: 0px;
  padding: 3px;
}

#side-bar-top {
  margin-top: 35px;
}

.thinText {
  font-weight: 100;
}

.toggleButton {
  position: relative;;
  float: right;
  margin-right: 34px;
  margin-top: -321px;
  font-size: 65%;
  background: rgba(0,0,0,0.3);
  color: rgb(9,81,201);
  border: 1px solid rgb(9,81,201);
  border-radius : 3px;
  white-space: pre;
}

#fret-button {
  background: rgb(9,81,201);
  margin-top: -331px;
  margin-right: 118px;
  color: black;
  width: 60px;
}
#string-button {
  background: rgb(9,81,201);
  margin-top: -331px;
  margin-right: 34px;
  color: black;
  width: 70px;
}

#fretButtonContainer {
  position: relative;
  float: right;
  width: 100%;
  height: 100%;
}

#float-here {
  position: absolute;
}

#pedal-tone {
  position: relative;
  text-align: right;
  z-index: 10;
  float: right;
  padding-top: 3px;
  margin: 0 31px 10px 10px;
}

#show-scale {
  margin-right: 0;
}

#show-shapes {
  margin-right: 0;
}

#stop-button {
  margin: 0;
}

#fretsBox {
  position: relative;
  color: rgb(9,81,201);
  margin-top: -185px;
}

.frets {
  font-weight: 100;
  font-size: 70%;
  opacity: .6;
}
#fret3 {
  position: absolute;
  margin-top: 0px;
  margin-left: 282px;
}
#fret5 {
  position: absolute;
  margin-top: 0px;
  margin-left: 332px;
}
#fret7 {
  position: absolute;
  margin-top: 0px;
  margin-left: 382px;
}
#fret9 {
  position: absolute;
  margin-top: 0px;
  margin-left: 432px;
}
#fret12 {
  position: absolute;
  margin-top: 0px;
  margin-left: 502px;
}
#fret15 {
  position: absolute;
  margin-top: 0px;
  margin-left: 577px;
}
#fret17 {
  position: absolute;
  margin-top: 0px;
  margin-left: 628px;
}
#fret19 {
  position: absolute;
  margin-top: 0px;
  margin-left: 677px;
}
#fret21 {
  position: absolute;
  margin-top: 0px;
  margin-left: 729px;
}
#fret24 {
  position: absolute;
  margin-top: 0px;
  margin-left: 803px;
}
