h1 {
    margin-top: 30px;
    color: rgb(19,85,198);
    font-family: sans-serif;
}
p {
    color: rgb(19,85,198);
    font-weight: 100;
    font-family: sans-serif;
    margin-bottom: 3px;
    margin-top: 0px;
}

button {
  margin: 10px;
  background: rgba(0,0,0,0.3);
  color:#1354C6;
  border        : 1px solid #113EB8;
  border-radius : 3px;
  white-space: pre;
}

body {
  padding: 0;
  margin-top:20px;
  display: flex;
  justify-content: center;
}

#main-container {
  position: relative;
}

.fretButton {
  position: relative;;
  float: right;
  margin-right: -113px;
  margin-top: -243px;
  font-size: 65%;
  background: rgba(0,0,0,0.3);
  color:#1354C6;
  border: 1px solid #113EB8;
  border-radius : 3px;
  white-space: pre;

}

.sideBarContainer {
  position: absolute;
  width: 860px;
  margin-top: -25px;
  padding: 20px;
}

.sideContainer {
  margin: 0px;
  padding: 3px;
}

select {
    margin:10px;
    background: rgba(0,0,0,0.3);
    color:#1354C6;
    border: 1px solid #113EB8;
}

.thinText {
  font-weight: 100;
}

#fret-button {
  background: #113EB8;
  color: black;
}

#float-here {
  position: absolute;
}
#pedal-tone {
  position: relative;
  text-align: right;
  z-index: 10;
  float: right;
  margin: 0 20px 10px 10px;
}
#show-scale {
  margin-right: 0;
}
#show-shapes {
  margin-right: 0;
}
#stop-button {
  margin: 0;
}

#fretsBox {
  position: relative;
  color: rgb(19,85,198);
  margin-top: -185px;
}

.frets {
  font-weight: 100;
  font-size: 70%;
  opacity: .6;
}
#fret3 {
  position: absolute;
  margin-top: 0px;
  margin-left: 287px;
}
#fret5 {
  position: absolute;
  margin-top: 0px;
  margin-left: 337px;
}
#fret7 {
  position: absolute;
  margin-top: 0px;
  margin-left: 387px;
}
#fret9 {
  position: absolute;
  margin-top: 0px;
  margin-left: 437px;
}
#fret12 {
  position: absolute;
  margin-top: 0px;
  margin-left: 507px;
}
#fret15 {
  position: absolute;
  margin-top: 0px;
  margin-left: 583px;
}
#fret17 {
  position: absolute;
  margin-top: 0px;
  margin-left: 634px;
}
#fret19 {
  position: absolute;
  margin-top: 0px;
  margin-left: 683px;
}
#fret21 {
  position: absolute;
  margin-top: 0px;
  margin-left: 734px;
}
#fret24 {
  position: absolute;
  margin-top: 0px;
  margin-left: 808px;
}
