h1 {
    margin-top: 30px;
    color: rgb(19,85,198);
    font-family: sans-serif;
}
p {
    color: rgb(19,85,198);
    font-family: sans-serif;
    margin-bottom: 3px;
    margin-top: 0px;
}
div {
  /*margin: 0px;
  padding: 0px;*/
}
button {
  margin: 10px;
  background: rgba(0,0,0,0.3);
  color:#1354C6;
  text-shadow:0 1px 0 rgba(0,0,0,0.4);
  border        : 1px solid #113EB8;
  border-radius : 3px;
}

body {
  padding: 0;
  margin-top:20px;
  display: flex;
  justify-content: center;
}

.sideBarContainer {
  position: absolute;
  width: 860px;
  margin-top: -25px;
  padding: 20px;
}

.sideContainer {
  margin: 0px;
  padding: 3px;
}

select {
    margin:10px;
    background: rgba(0,0,0,0.3);
    color:#1354C6;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
    border        : 1px solid #113EB8;
}

.thinText {
  font-weight: 100;
}

#float-here {
  position: absolute;
}
#pedal-tone {
  position: relative;
  text-align: right;
  z-index: 10;
  float: right;
  margin: 0 20px 10px 10px;
}
#show-scale {
  margin-right: 0;
}
#show-shapes {
  margin-right: 0;
}
#stop-button {
  margin: 0;
}
